*,
*:after,
*::before {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html,
body,
.container,
.pusher,
.content {
	height: 100%;
}

.content {
	overflow-y: scroll;
	background-color: #f9f9f9;
}

.content,
.content-inner {
	position: relative;
}

.container {
	position: relative;
	overflow: hidden;
}

.pusher {
	position: relative;
	left: 0;
	z-index: 99;
	height: 100%;
	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s;
}

.pusher::after {
	position: absolute;
	top: 0;
	right: 0;
	width: 0;
	height: 0;
	background-color: rgba(0,0,0,0.2);
	content: '';
	opacity: 0;
	-webkit-transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
	transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
}

.menu-open .pusher::after {
	width: 100%;
	height: 100%;
	opacity: 1;
	-webkit-transition: opacity 0.5s;
	transition: opacity 0.5s;
}

.menu {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 100;
	visibility: hidden;
	width: 300px;
	height: 100%;
	background-color: #040c17;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
}

.menu::after {
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.2);
	content: '';
	opacity: 1;
	-webkit-transition: opacity 0.5s;
	transition: opacity 0.5s;
}

.menu-open .menu::after {
	width: 0;
	height: 0;
	opacity: 0;
	-webkit-transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
	transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
}

/* content style */

.menu ul {
	margin: 3em;
	padding: 0;
	list-style-type: none;
}

.menu h1 {
	margin: 2em 2em 0 2em;
	padding: 0;
	color: white;
	font-weight: 300;
	font-size: 2em;
	text-align: left;
}

.menu ul li a {
	display: block;
	color: #f3efe0;
	text-transform: uppercase;
	-webkit-transition: background 0.3s, box-shadow 0.3s;
	transition: background 0.3s, box-shadow 0.3s;
}

.menu ul li:firchild a {

}

.menu ul li a:hover {

}

/* Individual effects */

/* Effect 3: Push*/
.effect-3.menu-open .pusher {
	-webkit-transform: translate3d(300px, 0, 0);
	transform: translate3d(300px, 0, 0);
}

.effect-3.menu {
	-webkit-transform: translate3d(-100%, 0, 0);
	transform: translate3d(-100%, 0, 0);
}

.effect-3.menu-open .effect-3.menu {
	visibility: visible;
	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s;
}

.effect-3.menu::after {
	display: none;
}

/* Fallback example for browsers that don't support 3D transforms (and no JS fallback) */
.no-csstransforms3d .pusher,
.no-js .pusher {
	padding-left: 300px;
}

@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);


/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before,
.clearfix:after {
	display: table;
	content: " ";
}

.clearfix:after {
	clear: both;
}


@media screen and (max-width: 46.0625em) {

}

@media screen and (max-width: 25em) {



}
