/*
  STYLE GUIDE STYLING 
  Default styling for the style guide 
*/

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  font-size: 1em; 
  color: white;
  padding: 0;
}
.styleguide{
  background-color: black;
  color: white;
}
body::-webkit-scrollbar {
    width: 1em;
    margin-left: 1em;
    color: white;
}
 
body::-webkit-scrollbar-track {
    -webkit-box-shadow: none;
    background-color: #040c17;
}
 
body::-webkit-scrollbar-thumb {
  background-color: white;

  outline: 1px solid white;
}

section:not([id]) {
  margin: 0 0;
  padding: 0;
  border-top: none;
  
}
section{

}
/* section h2{
  margin-top: 0;
  margin-bottom: 1em;
  padding-bottom: 0.2em;
  border-bottom: 1px solid white;
 }*/

div code {
  background-color: #EEE;
  margin: 1em 0;
  padding-top: 0.1em;
  padding-left: 0.2em;
  padding-right: 0.2em;
  color: #040c17;
}

/* 
   GRID -----------------------------------------------
*/

[class*='col-'] {
  padding: 1em;
}

[class*='col-']:last-of-type {
  padding-right: 0;
}
@media (max-width: 70em) {
    .grid-pad .col-1-3 {
  width: 100%;
 
}

}

@media (max-width: 50em) {

  .h4{
    font-size: 0.7em;
  }

  .grid-pad .col-1-4{
    width: 100%;
    padding-bottom: 2em;
    position: relative;
  }
    .grid-pad .col-3-4 {
    width: 100%;

    padding-left: 0;
  }
    .grid-pad .col-1-2 {
    width: 100%;
    min-height: 50px;
    height: auto;
  }

  .grid-pad .col-1-3 {
  width: 100%;
 
}


}

/*.grid-pad {
  padding: 2em;
}*/

.grid-pad > [class*='col-']:last-of-type {
  padding-right: 1em;
}

.col-1-4 {
  width: 30%;
  position: fixed;
}

.mon {
  background-color: #ba2d0b;
}
.tues {
  background-color: #f9a03f;
}
.wed {
  background-color: #37515f;
}
.thurs{
  background-color: #18314f;
}
.col-1-3 {
  width: 50%;
  float: left;
  height: 300px;
  overflow: hidden;

 
}
 
 .text {
  padding: 5em 2em 2em 2em;
 }
 .img {
  padding: 0;
  min-width: 300px;
 }

.col-1-3 h1{
  margin-bottom: 0;

}
.col-1-3 h3{
  font-style: italic;
  margin-top: 0;
  margin-bottom: 0.4em;
}
.col-1-3 p{
  margin-top: 0;
  margin-bottom: 0;
}

.col-1-5 h4{
  padding-top: 0;
  margin-top: 0;
  margin-bottom: 0.1em;
}

.col-1-5 p {
  font-size: 1rem;
  padding: 0;
  margin: 0;
}

.col-1-6 h4{
  padding-top: 0;
  margin-top: 0;
  margin-bottom: 0.1em;
}

.col-1-6 p {
  font-size: 1rem;
  padding: 0;
  margin: 0;
}
.col-1-2{
  width: 50%;
  float: left;
  padding-top: 0px;
  margin-bottom: 4em;
  height: auto;
  min-height: 250px;
  overflow: hidden;
  overflow: scroll;
}
.col-3-4 {
  width: 70%;
  padding-left: 2em;

}
.col-1-5 {
  width: 50%;
  padding-bottom: 1em;
  float: left;
  height: 70px;
}

.col-1-6 {
  width: 30%;
  padding-right: 8em;
  padding-bottom: 2em;
  float: left;
  height: 70px;
}

.col-1-1 {
  
  float: left;
}


.grid:after {
  content: "";
  display: table;
  clear: both;
}
.event-1 {
  
  background-color: none;

}

/* 
  INTERACTIVE ELEMENTS -------------------
*/

/* Styling for the navigation button */
.button-nav, .button-nav:visited {
  /*display: block;*/
  background-color: transparent;
  color: #040c17;
  padding: 1em 1.25em;
  text-decoration: none;
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
}

.button-nav:hover, .button-nav:active, .button-nav:focus {
  background-color: #040c17;
  color: white;
}

.button-nav{
  /*display: inline-block;*/
  margin: 2em;
  margin-bottom: 1em;
  text-align: center;
  
  padding: 1em 1.25em;
  color: white;
  background: transparent;
  border: 0.2rem solid white;


  font-weight: bold;
  font-size: 1rem; 
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;

  z-index: 5;

  /* css webkit transition: cubic-beizer provides smooth transition for all animations. got the values
  from http://cubic-bezier.com/ */
  /*-webkit-transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
  -moz-transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
  -o-transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
  -ms-transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
  transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
  */
}
.button-nav:hover, .button-nav:focus {
  background-color: #c11247;
  color: #f9f9f9;
}




.button-nav-side, .button-nav-side:visited {
  display: inline-block;
  background-color: transparent;
  color: white;
  padding: 1em 1.25em;
  text-decoration: none;
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
}

.button-nav-side:hover, .button-nav-side:active, .button-nav-side:focus {
  background-color: gray;
  color: white;
}

.main-nav .button-nav-side{
  margin-top: 1em;
  margin-right: 1em;
}
.button-nav-side{
  display: inline-block;
  margin: 0 0;
  margin-bottom: 1em;
  text-align: center;
  
  padding: 1em 1.25em;
  color: white;
  background: transparent;
 /* border-bottom: rem solid white;*/


  font-weight: bold;
  font-size: 1rem; 
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.button-nav-side:hover, .button-nav-side:focus {
  background-color: white;
  color: #040c17;
}

.button-bold, .button-bold:visited {
  display: inline-block;
  background-color: white;
  color: #ba2d0b;
  padding: 1em 1.25em;
  text-decoration: none;

    /* css webkit transition: background changes slower, 0.5 second transition */
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
}
.button-bold{
  margin: 1em 1em;
  display: inline-block;
  margin: 0.2em 0;
  text-align: center;
  vertical-align: middle;
  padding: 0.5em 0.7em;
  color: #ba2d0b;
  background: transparent;
  border: 2px solid #ba2d0b;


  font-weight: bold;
  font-size: 1rem; 
  text-transform: uppercase;
  text-decoration: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;

}

.button-bold:active, .button-bold:hover, .button-bold:focus {
  background-color: #ba2d0b;
  color: #040c17;
}
.button-bold:hover, .button-bold:focus {
  background-color: #ba2d0b;
  color: #040c17;
}

.button-submit, .button-submit:visited {
  display: inline-block;
  background-color: transparent;
  color: #8baaad;
  padding: 1em 1.25em;
  text-decoration: none;
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
}



.button-submit{
  margin-top: 0.5em;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  padding: 0.5em 0.7em;
  color: #8baaad;
  background: transparent;
  border: 2px solid #8baaad;
  float:right;

  font-weight: bold;
  font-size: 1rem; 
  text-transform: uppercase;
  text-decoration: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
  -moz-transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
  -o-transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
  -ms-transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
  transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);

}
.button-submit:active, .button-submit:hover, .button-submit:focus {
  background-color: #8baaad;
  color: white;
}
.button-submit:hover, .button-submit:focus {
  background-color: #8baaad;
  color: #040c17;
}

.hero-button{
  margin-top: 0.5em;
  display: block;
  text-align: center;
  vertical-align: middle;
  padding: 0.5em 0.7em;
  color: white;
  background: transparent;
  border: 2px solid white;
  float:right;

  font-weight: bold;
  font-size: 1rem; 
  text-transform: uppercase;
  text-decoration: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
  -moz-transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
  -o-transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
  -ms-transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
  transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
}

.hero-button:active, .button-submit:hover, .button-submit:focus {
  background-color: #8baaad;
  color: white;
}
.hero-button:hover, .button-submit:focus {
  background-color: #8baaad;
  color: #040c17;
    border: 2px solid #8baaad;

}

.button-reset, .button-reset:visited {
  display: inline-block;
  background-color: #040c17;
  color: white;
  padding: 1em 1.25em;
  text-decoration: none;
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
}



.button-reset{
  margin: 0em 0.5em;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  padding: 0.5em 0.7em;
  color: white;
  background: transparent;
  border: 2px solid white;


  font-weight: bold;
  font-size: 1rem; 
  text-transform: uppercase;
  text-decoration: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
  -moz-transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
  -o-transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
  -ms-transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
  transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);

}
.button-reset:active, .button-reset:hover, .button-reset:focus {
  background-color: white;
  color: #040c17;
}
.button-reset:hover, .button-reset:focus {
  background-color: white;
  color: #040c17;
}

.search input{
  display: inline-block;
  text-align: left;
  padding: 1em 1.5em;
  vertical-align: middle;

  text-transform: uppercase;
  color: white;
  border: 2px solid white;
    
  font-family: "Lato", sans-serif;
  font-weight: bold;
  font-size: 1rem; 
  letter-spacing: 2px;
  
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
    
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
    
    -webkit-transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);  
    -moz-transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000); 
    -o-transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -ms-transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000); 
    transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
}

.search .input:hover{
  border-color: white;
}
.search .input:focus{
  border-color: white;
  border-width: 2px;
  color: white;
}

.search .input{
  padding: 1em 1.5em;
  background-color: #040c17;
  font-weight: 200;    
  font-size: 1rem; 
  letter-spacing: 2px;
}

.form input{
  float:left;
  display: inline-block;
  margin-top: 1em;
  margin-right: 1em;
  text-align: left;
  padding: 1em 1.5em;
  vertical-align: middle;

  text-transform: uppercase;
  color: white;
  border: 2px solid black;
    
  font-family: "Lato", sans-serif;
  font-weight: lighter;
  font-size: 1rem; 
  letter-spacing: 2px;
  
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
    
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
    
    -webkit-transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);  
    -moz-transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000); 
    -o-transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -ms-transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000); 
    transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
}

.form .input:hover{
  border-color:  black;
}
.form .input:focus{
  color:  #040c17;
  border-color: black;
  border-width: 2px;

}
.form .input:focus{
  color: #111;
  border-color: orange;
  color: black;
 
}

.form .input{
  margin-top: 1em;
  margin-right: 1em;
    padding: 1em 1.5em;
    
    background-color: white;

     border-color: black 2px;

      color: black;

    font-weight: 200;
    
    font-size: 1rem; 
    letter-spacing: 2px;
}

.form textarea{
  margin-top: 1em;
  min-height: 100px;
  min-width: 80%%;
  font-family: "Lato", sans-serif;
  font-weight: 200;
  font-size: 1rem;
  padding: 20px;

  background-color: white;

  text-transform: uppercase;
  letter-spacing: 2px;
  color: black;
  border-width: 2px;
  text-align: left;

  border-color: black;
  outline: none;
  
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
    
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.form textarea:hover{
  border-color: #c11247;
}
.form textarea:focus{

  color: #111;
  border-color: orange;
  border-width: 2px;
}

/* 
  TEXT ELEMENTS -------------------
*/

a {
  color: white; 
}
a:visited {
  color: white;
}


a:active, a:hover {
  color: white; 
  text-decoration: none;
}


h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 2.5rem; 
  margin-bottom: 0;
  margin-top: 0;
  color:black;
  text-transform: uppercase;
}


h2 {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  margin-bottom: 0.1em;
  letter-spacing: 2px;
  margin-top: 0;
  font-size: 2rem; 
  
}


strong a {
  
  font-size: 1.2rem; 
  font-style: italic ;
  font-weight: 700;
  text-decoration: none;
  line-height: 0.5;
  padding-right: 0;
  color: orange;

}
strong a:active, h2 a:hover {
  color: orange;
  text-decoration: line-through;


}
strong a:visited{
  color: orange;
  text-decoration: line-through;;
}

.col-1-2 h3 {
  font-family: Lato, sans-serif;
  font-weight: lighter;
  font-style: italic;
  padding-bottom: 0;
  margin: 0;

  font-size: 1.5rem; 

}


h3 {
  font-family: Lato, sans-serif;
  font-weight: lighter;
  font-style: italic;
  padding-bottom: 0.5em;
  font-size: 1.5rem; 

}

h4 {
  margin: 0;
  padding-bottom: 0.3em;
  padding-top: 0;
  font-size: 1rem;
  text-transform: uppercase;
  color: #c11247;


}

ul{
  list-style-type: '-';
  letter-spacing: 2px;
  font-weight: italic;
}

ul, ol {
  font-family: "Lato", sans-serif;
  font-weight: lighter;
  font-size: 1rem;
  text-align: left;
}

p {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 1rem;
  padding-bottom: 0;

}
.strong p{
  font-weight: bold;
}

.light p {
  font-weight: 100;
}

li {

  font-family: 'Lato', sans-serif;
  font-weight: 300;
  margin-bottom: 0.5em;
  margin-top: 0;
  font-size: 1.2rem; 
  
}


/* 
  COMBINED ELEMENTS -------------------

*/

img {
  height: auto; 
  width: auto;
  max-width: 100%;
  border: 1px solid #888888; 
}


figure {
  margin: 0;
}


figcaption {
  font-size: 0.8rem;
  font-style: italic;
}















